<footer>
    <nav>
    <ul>
        <li><a href="/"><img src="images/search.svg" alt="searchicon" class="icon"></a></li>
        <li><a href="/"><img src="images/likes.svg" alt="hearticon" class="icon"></a></li>
    </ul>
    </nav>
</footer>