<header>
    <nav>
        <ul>
            <li><a href="/">inloggen</a></li>
            <li><a href="">profiel</a></li>
            <li><a href="/contact.html">about</a></li>
        </ul>
    </nav>
</header>