* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    background-color: #FFFAD0;
    height: 15px;
    padding: 10px;
    text-decoration: none;
}

footer nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    background-color: #FFFAD0;
    position: sticky;
    height: 10px;
    text-decoration: none;
}


section {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10rem;
}

input[type=submit] {
    padding: 5px,10px;

}