<head>
    <%- include('views/includes/head'); -%>
</head>

<body>
    <%- include('includes/header'); -%>
    
    <h1>Hello and welcome to this app</h1>

    <form action="/ditistijdelijk" method="post">
        <input type="text" name="input">
        <button>Add restaurant</button>
    </form>
</body>
</html>